<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=The+Girl+Next+Door" rel="stylesheet">
    <title>Todo List App</title>
  </head>
  <body>
    <header>
      <h2 id="headline">Start your productive streak!</h2>
      <h3>Type in a todo and then click the task when you're finished. Let's do this!</h3>
        <form class="searchArea" action="/list" method="post">
          <input id="search" type="text" name="task" placeholder="  Add a todo...">
          <button type="submit" name="button">Add todo</button>
        </form>
    </header>

    <h2>Todo List</h2>

    <div class="listItems">


    {{{yield}}}


    </div>
  </body>
</html>
