
{{#todos}}

  <form class="" action="/completed" method="post">
   <input type="submit" name="button" value="{{.}}">
  </form>

{{/todos}}

<br>
<br>

<h2>You've worked so hard!</h2>
<h3>Look at all the things you've finished</h3>
{{#completed}}
  <form class="" action="/" method="post">
    <input type="submit" name="button" value="{{.}}">

  </form>
{{/completed}}
