<h1>Let's do this!</h1>
{{#todos}}

  <form class="" action="/completed" method="post">
   <input type="submit" name="button" value="{{.}}">
  </form>

{{/todos}}

<h1>Yay! You've worked so hard!</h1>
{{#completed}}
  <form class="" action="/" method="post">
    <input id="check" type="checkbox" checked value="{{.}}">
    <del>{{.}}</del>
  </form>
{{/completed}}
