*{
font-family: 'The Girl Next Door', cursive;
}


#search{
  width:400px;
  height: 50px;
  margin-left: 20px;
  font-size: 40px;
  border: 3px solid #20B2AA;
  box-shadow: 0 2px #666;
  color: #191970;
}

button{
  height: 50px;
  width: 100px;
  margin-left: 15px;
  border: 3px solid #FFFFE0;
  font-size: 20px;
  padding: 5px;
  box-shadow: 0 4px #20B2AA;
  border-radius: 15px;
  color: #191970;
}

button:active {
  background-color: #20B2AA;
  box-shadow: 0 5px #20B2AA;
  transform: translateY(4px);
  color: #191970;
}

button:focus {
  outline:0;
}

input{
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  width: 150px;
  background-color: #ffdacc;
  color: #191970;
  font-size: 16px;
}

h2{
  margin-left: 20px;
  margin-bottom: 5px;
  color: #191970;
  font-size: 32px;
  text-decoration: underline;
}

h3{
  margin-top: 0px;
  margin-left: 20px;
  color: #191970;
  font-size: 20px;
}

.listItems{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
}

#check{
  width: 20px;
}

#headline{
    margin-left: 20px;
    color: #191970;
    font-size: 32px;
    margin-bottom: 3px;
    font-weight: bold;
    text-decoration: none;
}

header{
  border: 2px dashed #20B2AA;
  padding-bottom: 15px;
  width: 750px;

}
